body {
  background-color: hsl(0, 0%, 16%);
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 100vh;
  line-height: 1.45;
  margin: 0;
  overflow: hidden;
}
